@import url('flatpickr/dist/flatpickr.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

.main {
  margin: 0 auto;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-nav ul {
  padding-left: 0;
}

.main-nav ul li {
  list-style-type: none;
}

.main-nav ul li a {
  color: #000;
  text-decoration: none;
}

.main-nav ul li a:hover {
  color: sienna;
}

.timer {
  margin-top: 25px;
  display: flex;
  column-gap: 15px;
  max-width: max-content;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.7rem;
}

.label {
  font-size: 15px;
}

.form {
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 250px;
}

.label_delay {
  display: flex;
  flex-direction: column;
}